<template>
  <div class="single-product">
  	<div v-if="loaded">
	   	<h3>Employee</h3>
	   	<div class="card">
	      <div class="card-body">
	      	<p >ID: {{productId}}</p>
	        <p >Product Name: {{productName}}</p>
	        <p >Product Lastname: ${{productLastname}}</p>
			<p >Product Email: ${{productEmail}}</p>
			<p >Product Telephone: ${{productTel}}</p>
			
	      </div>
		</div>
    </div>
    <div v-else> 
    	
    </div>
  </div>
</template>

<script>
import db from '@/db'
export default {
  name: 'ProductPage',
  data () {
    return {
    	productId:'',
    	productName: '',
		productLastname: '',
		productEmail:'',
		productTel:'',
    	loaded: false
    }
  },
  beforeCreate (){
	  
	var docRef = db.collection('products').doc(this.$route.params.id);
	docRef.get().then((doc)=> {
	    if (doc.exists) {
	        console.log("Document data:", doc.data().product_id);
	        this.productId = doc.data().product_id
	        this.productName = doc.data().product_name
			this.productLastname = doc.data().product_lastname
			this.productEmail = doc.data().product_email
			this.productTel = doc.data().product_tel
	        this.loaded = true
	    } else {
	        // doc.data() will be undefined in this case
	        console.log("No such document!");
	    }
	}).catch(function(error) {
	    console.log("Error getting document:", error);
	});

  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
h3{
  text-align: center;
  margin-top: 30px;
  margin-bottom: 20px;
}

</style>
